{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "4.8"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }]
  ]
}
